{{extend 'layout.html'}}
{{"""

You should not modify this file. 
It is used as default when a view is not provided for your controllers

"""}}
<div class="container">
  <div class="row">
    <div class="col s12">
      <h2>{{=' '.join(x.capitalize() for x in request.function.split('_'))}}</h2>
      {{if len(response._vars)==1:}}
      {{=BEAUTIFY(response._vars.values()[0])}}
      {{elif len(response._vars)>1:}}
      {{=BEAUTIFY(response._vars)}}
      {{pass}}
    </div>
    {{if request.is_local:}}
      <div class="col s12">
      {{=response.toolbar()}}
      </div>
    {{pass}}
  </div>
</div>
