@charset "UTF-8";

// ######################################
// Do I really need to change this?
// No, you don't. But,
// if you want, just change before import
// ######################################

// - Brand
$brand-colors: (
    "primary": $-color-blue-grey,
    "secondary": $-color-cyan
) !default;

$-color-list: map_merge($-color-list, $brand-colors);

// Core
$static-path: '../' !default;

$project__bg_color      : #FFFFFF !default;
$project__color         : #111111 !default;
$project__font-family   : sans-serif !default;
$project__font-size     : 100% !default;

// Sanitize
$root-background-color: #FFFFFF !default;
$root-box-sizing: border-box !default;
$root-color: #111111 !default;
$root-cursor: default !default;
$root-font-family: sans-serif !default;
$root-font-size: 100% !default;
$root-line-height: 1.5em !default;
$background-repeat: no-repeat !default;
$form-element-background-color: transparent !default;
$form-element-color: transparent !default;
$form-element-min-height: if(unitless($root-line-height), #{$root-line-height}em, if(unit($root-line-height) != "%", $root-line-height, null)) !default;
$media-element-vertical-align: middle !default;
$monospace-font-family: monospace !default;
$nav-list-style: none !default;
$selection-background-color: color("primary", 200) !default;
$selection-color: color("secondary", 900) !default;
$selection-text-shadow: none !default;
$small-font-size: 75% !default;
$table-border-collapse: collapse !default;
$table-border-spacing: 0 !default;
$textarea-resize: vertical !default;


$root-font-sans-type: "transitional" !default;
$root-font-serif-type: "transitional" !default;

